button {
  margin: 5px;
  background: white;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  cursor: pointer;
}

.delete-button {
  border-color: rgb(220, 53, 69);
  color: rgb(220, 53, 69)
}

.delete-button:hover {
  background: rgb(220, 53, 69);
  color: white;
  border-color: white;
  cursor: pointer;
}

.dialog-footer {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
