.product-list {
  display: flex;
  flex-wrap: wrap;

  .filter {
    padding: 5px;
    margin-right: 25px;

    h2 {
      padding: 0;
      margin: 0;
    }

    .search-box {
      margin-top: 10px;
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 0.2em;
    }

    .color-filters {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      max-width: 200px;

      div {
        margin: 1px;
        cursor: pointer;
      }
    }

  }

  .table {
    flex-grow: 1;
  }

  table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    tr td, tr th {
      padding: 15px;

    }

    tr:hover {
      border: 0;
      background: rgba(146, 168, 209, 0.1);
    }

    tr th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    button {
      background: white;
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.2em;
      margin: 5px;
    }

    .edit-button {
      border-color: skyblue;
      color: skyblue
    }

    .edit-button:hover {
      border-color: white;
      color: white;
      cursor: pointer;
      background: skyblue;
    }

    .delete-button {
      border-color: rgb(220, 53, 69);
      color: rgb(220, 53, 69)
    }

    .delete-button:hover {
      background: rgb(220, 53, 69);
      color: white;
      border-color: white;
      cursor: pointer;
    }
  }

  .color-box {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;

    span {
      color: white;
      text-shadow: 0 0 2px #000;
    }
  }

}
