<div class="product-list">
  <div class="filter">
    <h2>Filter</h2>
    <input [formControl]="searchInput" class="search-box" placeholder="Search..." type="text">

    <div class="color-filters">
      <div *ngFor="let color of colors">
        <div (click)="filterColor(color)" [style]="{background: color}" class="color-box">
          <span *ngIf="filteredColors.has(color)">✓</span>
        </div>
      </div>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>
          <div [style]="{background: product.color}" class="color-box"></div>
        </td>
        <td>{{product.type}}</td>
        <td>{{product.price | currency}}</td>
        <td>
          <button [routerLink]="'/product-detail/' + product.sku" class="edit-button">Edit</button>
          <button (click)="delete(product.sku)" class="delete-button">Delete</button>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="totalPages > 1">
      <tr>
        <td>
          <button (click)="navigatePage(true)" *ngIf="page !== 0"><< Prev</button>
          Page {{page + 1}} of {{totalPages}}
          <button (click)="navigatePage()" *ngIf="page < totalPages - 1">Next >></button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>


