<div>
  <form [formGroup]="form">
    <div>
      <label for="name">Name</label>
      <input formControlName="name" id="name">
      <span *ngIf="form.controls['name']?.hasError('required')" class="error">This Field is Required</span>
      <span *ngIf="form.controls['name']?.hasError('maxlength')" class="error">Must be less than 56 Characters</span>
    </div>

    <div>
      <label for="description">Description</label>
      <input formControlName="description" id="description">
      <span *ngIf="form.controls['description']?.hasError('required')" class="error">This Field is Required</span>
      <span *ngIf="form.controls['description']?.hasError('maxlength')"
            class="error">Must be less than 56 Characters</span>

    </div>

    <div>
      <label for="type">Type {{product?.type}}</label>
      <select formControlName="type" id="type">
        <option [selected]="product?.type === 'pant'" value="pant">Pant</option>
        <option [selected]="product?.type === 'shirt'" value="shirt">Shirt</option>
        <option [selected]="product?.type === 'eyewear'" value="eyewear">Eyewear</option>
        <option [selected]="product?.type === 'shoe'" value="shoe">Shoe</option>
        <option [selected]="product?.type === 'dress'" value="dress">Dress</option>
        <option [selected]="product?.type === 'short'" value="short">Short</option>
      </select>
      <span *ngIf="form.controls['type']?.hasError('required')" class="error">This Field is Required</span>
    </div>

    <div>
      <label for="color">Color</label>
      <input formControlName="color" id="color">
      <span *ngIf="form.controls['color']?.hasError('required')" class="error">This Field is Required</span>
      <span *ngIf="form.controls['color']?.hasError('maxlength')" class="error">Must be less than 56 Characters</span>
    </div>

    <div>
      <label for="price">Price</label>
      <input formControlName="price" id="price" step="0.01" type="number">
      <span *ngIf="form.controls['price']?.hasError('required')" class="error">This Field is Required</span>
      <span *ngIf="form.controls['price']?.hasError('min')" class="error">Must be at least $0.00</span>
    </div>
    <button (click)="update()">Update</button>
  </form>
</div>
